@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Delicious+Handrawn&family=Lora:ital,wght@0,400..700;1,400..700&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap');

body {
  font-family: "Lora", serif !important;
  /* font-family: "Roboto Slab", serif; */
  /* font-family: "Poppins", serif; */
  background-color: #8db48e;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.btn-text{
  font-family: "Alexandria", serif !important;

}
.p-text {
  font-family: "Delicious Handrawn", serif !important;
}

.text{
  font-family: "Noticia Text", serif !important;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

